<h1>Registration</h1>

  <% if flash[:errors] %>
    <% flash[:errors].each do |attr, errors| %>
      <div><%= attr %>: <%= errors %></div>
    <% end %>
  <% end %>

  <%= form_for @user, url: registration_create_path, method: :post do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= submit_tag "Register" %>
    </div>
  <% end %>

<%= link_to 'Back', root_path %>
