<h1> Minha loja - TESTE </h1>


<h2> Criar Fatura </h2>

<%= form_tag store_create_invoice_path do %>
  email: <%= text_field_tag 'email' %>
  description: <%= text_field_tag 'description' %>
  quantity: <%= text_field_tag 'quantity' %>
  price_cents: <%= text_field_tag 'price_cents' %>
  <%= submit_tag "criar" %>
<% end %>

<h2> Busca </h2>

<%= form_tag store_index_path, method: :get do %>
  query: <%= text_field_tag 'query' %>
<% end %>

<% @invoices.each do |invoice| %>
  <div> id: <%= invoice["id"] %> </div>
  <div> email: <%= invoice["email"] %> </div>
  <div> due_date: <%= invoice["due_date"] %> </div>
  <div> total: <%= invoice["total"] %> </div>
  <div> status: <%= invoice["status"] %> </div>
  <div> link: <%= invoice["secure_url"] %> </div>
  <div> logs: <%= invoice["logs"] %> </div>
  <div> payable_with: <%= invoice["payable_with"] %> </div>
<% end %>
